<div id="list-container">
    <table *ngIf="this.usuarios.length > 0">
        <thead>
            <th> Nome </th>
            <th> Senha </th>
            <th> NUSP </th>
            <th> Email </th>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of this.usuarios">
                <td> {{usuario.nome}} </td>
                <td> {{usuario.senha}} </td>
                <td> {{usuario.nusp}} </td>
                <td> {{usuario.email}} </td>
                <td> <button (click)="editUsuario(usuario.id!)"> Editar </button> </td>
                <td> <button (click)="deleteUsuario(usuario.id!)"> Deletar </button> </td>
            </tr>
        </tbody>
    </table>
    <app-listagem-indisponivel [nomeComponente]="'Usuários'"
        *ngIf="this.usuarios.length === 0"></app-listagem-indisponivel>
</div>