<div id="FormsContainer">
    <div id="HeaderForms">
        <h2 id="TitleForms">FORMULÁRIO DE CADASTRO DE CONSTRUTORA</h2>
        <div id="TitleFormsLine"></div>
    </div>
    <form [formGroup]="construtoraForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" placeholder="Digite o nome da construtora" formControlName="nome" required />
            <span
                *ngIf="this.construtoraForm.get('nome')?.touched && this.construtoraForm.get('nome')?.hasError('required')">
                Campo obrigatório
            </span>
        </div>
        <button type="submit" [disabled]="!this.construtoraForm.valid">Enviar</button>
    </form>
</div>