#form-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 20px;
}

#form {
    width: 33%;
    margin: auto; /* Center the form horizontally */
}

#list {
    width: 100%; /* Make the list take up the full width */
}
