<main>
    <section class="section-container">
        <div class="left-side">
            <img src="/assets/images/img-masp.jpg" alt="Imagem da Obra">
        </div>
        <div class="right-side">
            <p class="info-obra-rigth">Latitude: <span class="span-rigth">{{ obraInfo?.latitude }}</span></p>
            <p class="info-obra-rigth">Longitude: <span class="span-rigth">{{ obraInfo?.longitude }}</span></p>
            <p class="info-obra-rigth">Nome Oficial: <span class="span-rigth">{{ obraInfo?.nome_oficial }}</span></p>
            <p class="info-obra-rigth">Ano do Projeto: <span class="span-rigth">{{ obraInfo?.ano_projeto }}</span></p>
            <p class="info-obra-rigth">Ano Construção: <span class="span-rigth">{{ obraInfo?.ano_construcao }}</span></p>
            <p class="info-obra-rigth">Uso Atual: <span class="span-rigth">{{ obraInfo?.uso_atual }}</span></p>
            <p class="info-obra-rigth">Condição: <span class="span-rigth">{{ obraInfo?.condicao }}</span></p>
            <p class="info-obra-rigth">Ano Reforma: <span class="span-rigth">{{ obraInfo?.ano_reforma }}</span></p>
          </div>
    </section>
</main>