<div id="list-container">
    <table *ngIf="this.arquitetos.length > 0">
        <thead>
            <th> Nome </th>
            <th> Nome do meio </th>
            <th> Sobrenome </th>
        </thead>
        <tbody>
            <tr *ngFor="let arquiteto of this.arquitetos">
                <td> {{arquiteto.nome}} </td>
                <td> {{arquiteto.nomeMeio}} </td>
                <td> {{arquiteto.sobrenome}} </td>
                <td> <button (click)="editArquiteto(arquiteto.id!)"> Editar </button> </td>
                <td> <button (click)="deleteArquiteto(arquiteto.id!)"> Deletar </button> </td>
            </tr>
        </tbody>
    </table>
    <app-listagem-indisponivel [nomeComponente]="'Arquitetos'"
        *ngIf="this.arquitetos.length === 0"></app-listagem-indisponivel>
</div>