<footer>
    <div class="footer-container">
        <div class="img-container-footer">
            <img src="../assets/images/logo-usp.svg" alt=" Logo fau">
            <div class="write-img-footer">
                <p>Faculdade de Arquitetura e Urbanismo</p>
                <p>Universidade de São Paulo</p>
            </div>
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href=""></a>Instagram</li>
                <li><a href=""></a>Facebook</li>
                <li><a href=""></a>Twitter</li>
                <li><a href=""></a>Youtube</li>
            </ul>
        </div>
    </div>
</footer>