<footer>
    <div class="footer-container-main">

        <!--Logo and Social Media -->
        <div class="footer-container1">
            <div class="footer-logo">
                <img src="../assets/images/logo-usp.svg" alt="Logo da Universidade de São Paulo">
                <div class="write-img-footer">
                    <p>Faculdade de Arquitetura e Urbanismo</p>
                    <p>Universidade de São Paulo</p>
                </div>
            </div>

            <div class="footer-icons">
                <div class="redes-sociais">
                    <a href="https://www.instagram.com/fauusp/" Target="_blank" class="footer-icon-sociais"> <img
                            src="../assets/images/logo-instagram.svg" /> </a>
                    <a href="https://www.facebook.com/fauusp/?locale=pt_BR" Target="_blank" class="footer-icon-sociais">
                        <img src="../assets/images/logo-facebook.svg" /> </a>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FFAUUSPoficial" Target="_blank"
                        class="footer-icon-sociais"> <img src="../assets/images/logo-twitter.svg" /> </a>
                    <a href="https://www.youtube.com/channel/UCzoZbh43cgIlxQ88VeYHP1w" Target="_blank"
                        class="footer-icon-sociais"> <img src="../assets/images/logo-youtube.svg" /> </a>
                </div>
            </div>
        </div>

        <div class="footer-container2">
            <div class="footer-endereco-left">
                <p class="footer-endereco-titulo">FAU Cidade Universitária</p>
                <p>Rua do Lago, 876 – São Paulo – SP – Brasil</p>
                <p>+55 11 3091 4795</p>
            </div>

            <div class="footer-endereco-rigth">
                <p class="footer-endereco-titulo">FAU Maranhão</p>
                <p>Rua Maranhão, 88 – São Paulo – SP – Brasil</p>
                <p>+55 11 2648 1900</p>
            </div>
        </div>

        <div class="footer-container3">
            <div class="footer-funcionamento-left">
                <p>Horário de funcionamento do Edifício Vilanova Artigas:</p>
                <p>de 2ª a 6ª-feira, das 8h às 23h</p>
            </div>
            <div class="footer-funcionamento-rigth">
                <p>Horário de funcionamento do Edifício Vila Penteado:</p>
                <p>de 2ª a 6ª-feira, das 8h às 18h</p>
            </div>
        </div>
    </div>
</footer>