<div id="list-container">
    <table *ngIf="this.obras.length > 0">
        <thead>
            <th> Nome Oficial </th>
            <th> Arquitetos </th>
            <th> Uso Original </th>
            <th> Municipio </th>
            <th *ngIf="isLoggedIn"> Validado Professora </th>
            <th *ngIf="isLoggedIn"> Validado DPH </th>
        </thead>
        <tbody>
            <tr *ngFor="let obra of this.obras">
                <td> {{obra.nomeOficial}} </td>
                <td> {{obra.arquitetosNomes.join(', ')}} </td>
                <td> {{obra.usoOriginal}} </td>
                <td> {{obra.municipio}} </td>
                <td *ngIf="isLoggedIn" class="validateTD">
                    <span> {{obra.validadoProfessora ? 'Sim' : 'Não'}} </span>
                    <button *ngIf="isAdmin" (click)="toggleValidateProfessora(obra)"> {{obra.validadoProfessora
                        ? 'Desvalidar' : 'Validar'}}
                    </button>
                </td>
                <td *ngIf="isLoggedIn" class="validateTD">
                    <span> {{obra.validadoDph ? 'Sim' : 'Não'}} </span>
                    <button *ngIf="isAdmin" (click)="toggleValidateDph(obra)"> {{obra.validadoDph ? 'Desvalidar' :
                        'Validar'}}
                    </button>
                </td>
                <td *ngIf="isAdmin"> <button (click)="editObra(obra.id!)"> Editar </button> </td>
                <td *ngIf="isAdmin"> <button (click)="deleteObra(obra.id!)"> Deletar </button> </td>
                <td> <button routerLink="obra/{{obra.id!}}"> Visualizar </button> </td>
            </tr>
        </tbody>
    </table>
    <app-listagem-indisponivel [nomeComponente]="'Obras'" *ngIf="this.obras.length === 0"></app-listagem-indisponivel>
</div>