<div id="list-container">
    <table *ngIf="this.obras.length > 0">
        <thead>
            <th> Autoria </th>
            <th> Nome Oficial </th>
            <th> Logradouro </th>
            <th> Numero </th>
            <th> Ano Projeto </th>
            <th> Validado Professora </th>
            <th> Validado DPH </th>
        </thead>
        <tbody>
            <tr *ngFor="let obra of this.obras">
                <td> {{obra.autoria}} </td>
                <td> {{obra.nomeOficial}} </td>
                <td> {{obra.logradouro}} </td>
                <td> {{obra.numero}} </td>
                <td> {{obra.anoProjeto}} </td>
                <td class="validateTD">
                    <span *ngIf="obra.validadoProfessora"> Sim </span>
                    <span *ngIf="!obra.validadoProfessora"> Não </span>
                    <button *ngIf="!obra.validadoProfessora" (click)="validateProfessora(obra)"> Validar </button>
                    <button *ngIf="obra.validadoProfessora" (click)="desvalidateProfessora(obra)"> Desvalidar </button>
                </td>
                <td class="validateTD">
                    <span *ngIf="obra.validadoDPH"> Sim </span>
                    <span *ngIf="!obra.validadoDPH"> Não </span>
                    <button *ngIf="!obra.validadoDPH" (click)="validateDPH(obra)"> Validar </button>
                    <button *ngIf="obra.validadoDPH" (click)="desvalidateDPH(obra)"> Desvalidar </button>
                </td>
                <td> <button (click)="editObra(obra.id!)"> Editar </button> </td>
                <td> <button (click)="deleteObra(obra.id!)"> Deletar </button> </td>
                <td> <button routerLink="/obra/{{obra.id!}}"> Visualizar </button> </td>
            </tr>
        </tbody>
    </table>
    <app-listagem-indisponivel [nomeComponente]="'Obras'" *ngIf="this.obras.length === 0"></app-listagem-indisponivel>
</div>