
   <header>
        <div class="header-container">
        <img src="../assets/images/logo_fauusp.jpeg" alt="Logo FAU">
        <nav class="nav-container">
            <ul>
                <li><a href="#">Formulário de Obra</a></li>
                <li><a href="#">Formulário de Arquiteto</a></li>
                <li><a href="#">Formulário de Usuário</a></li>
                <li><a href="#">Formulário de Info Obras</a></li>
            </ul>
        </nav>
        </div>
   </header>





    





    