<header>
    <div id="logo-projeto">
        <a routerLink=""><img src="/assets/images/logo-fau-horizontal-full.svg" id="logo-fau"></a>
    </div>
    <div id="links-forms">
        <ul>
            <li> <a routerLink="/form-list-obra"> OBRA </a> </li>
            <li> <a routerLink="/form-list-arquiteto"> ARQUITETO </a> </li>
            <li> <a routerLink="/form-list-construtora"> CONSTRUTORA </a> </li>
            <li> <a routerLink="/form-list-usuario"> USUARIO </a> </li>
            <li> <a routerLink="/login"> ENTRAR </a> </li>
        </ul>
    </div>
</header>