<div id="list-container">
    <table *ngIf="this.construtoras.length > 0">
        <thead>
            <th> Nome </th>
        </thead>
        <tbody>
            <tr *ngFor="let construtora of this.construtoras">
                <td> {{construtora.nome}} </td>
                <td> <button (click)="editConstrutora(construtora.id!)"> Editar </button> </td>
                <td> <button (click)="deleteConstrutora(construtora.id!)"> Deletar </button> </td>
            </tr>
        </tbody>
    </table>
    <app-listagem-indisponivel [nomeComponente]="'Construtoras'"
        *ngIf="this.construtoras.length === 0"></app-listagem-indisponivel>
</div>