<div id="FormsObraContainer">
    <div id="HeaderContainer">
        <img id="LogoFau" src="assets/images/logo-fau-horizontal-full.svg" alt="FAUUSP | Faculdade de Arquitetura e Urbanismo da USP">
        <div id="MenuContainer">
            <div class="MenuLine"></div>
            <div id="MenuBar">
                <img id="three_bar_icon" src="assets/images/icon-menu.svg">
                <span>MENU</span>
            </div>
            <div class="MenuLine"></div>
        </div>
    </div>
    <div id="MiddleContainer">
        <div id="FormsContainer">
            <div id="HeaderForms">
                <h2 id="TitleForms">FORMULÁRIO DE CADASTRO DE OBRA</h2>
                <div id="TitleFormsLine"></div>
            </div>
            <div id="FieldsContainer">
                <div id="AutoriaField" class="FillingField">
                    Autoria <input>
                </div>
                <div id="EscritorioField" class="FillingField">
                    Escritorio <input>
                </div>
                <div id="NomeOficialField" class="FillingField">
                    Nome Oficial <input>
                </div>
                <div id="NomeAlternativoField" class="FillingField">
                    Nome Alternativo <input>
                </div>
                <div id="EnderecoTipoEnderecoTitulo">
                    <div id="EnderecoTipoField" class="FillingField">
                        Endereço Tipo <input>
                    </div>
                    <div id="EnderecoTituloField" class="FillingField">
                        Endereço Titulo <input>
                    </div>
                </div> 
                <div id="LogradouroField" class="FillingField">
                    Logradouro <input>
                </div>
                <div id="NumeroField" class="FillingField">
                    Número <input>
                </div>
                <div id="ComplementoField" class="FillingField">
                    Complemento <input>
                </div>
                <div id="CEPField" class="FillingField">
                    CEP <input>
                </div>
                <div id="MunicipioField" class="FillingField">
                    Munícipio <input>
                </div>
                <div id="AnoDoProjetoField" class="FillingField">
                    Ano do Projeto <input>
                </div>
                <div id="AnoConstrucaoField" class="FillingField">
                    Ano Construção <input>
                </div>
                <div id="ConstrutoraField" class="FillingField">
                    Construtora <input>
                </div>
                <div id="CONDEPHAATField" class="FillingField">
                    CONDEPHAAT <input>
                </div>
                <div id="CONPRESPField" class="FillingField">
                    CONPRESP <input>
                </div>
                <div id="IPHANField" class="FillingField">
                    IPHAN <input>
                </div>
                <div id="UsoOriginalField" class="FillingField">
                    Uso Original <input>
                </div>
                <div id="CodigoOriginalField" class="FillingField">
                    Código Original <input>
                </div>
                <div id="UsoAtualField" class="FillingField">
                    Endereço Titulo <input>
                </div>
                <div id="CodigoAtualField" class="FillingField">
                    Código Atual <input>
                </div>
                <div id="DataUsoAtualField" class="FillingField">
                    Data Uso Atual <input>
                </div>
                <div id="StatusField" class="FillingField">
                    Status <input>
                </div>
                <div id="AnosDemolicaoRestauroReforma">
                    <div id="AnoDemoliçãoField" class="FillingField">
                        Ano Demolição <input>
                    </div>
                    <div id="AnoRestauroField" class="FillingField">
                        Ano Restauro <input>
                    </div>
                    <div id="AnoReformaField" class="FillingField">
                        Ano Reforma <input>
                    </div>
                </div>
                <div id="ArquitetoReformaField" class="FillingField">
                    Arquiteto Reforma <input>
                </div>
                <div id="LatitudeField" class="FillingField">
                    Latitude <input>
                </div>
                <div id="LongitudeField" class="FillingField">
                    Longitude <input>
                </div>
                <div id="ReferenciasField" class="FillingField">
                    Referências <input>
                </div>
            </div>
        </div>
    </div>
</div>