<div id="FormsObraContainer">
    <div id="HeaderContainer">
        <img id="LogoFau" src="assets/images/logo-fau-horizontal-full.svg" alt="FAUUSP | Faculdade de Arquitetura e Urbanismo da USP">
        <div id="MenuContainer">
            <div class="MenuLine"></div>
            <div id="MenuBar">
                <img id="three_bar_icon" src="assets/images/icon-menu.svg">
                <span>MENU</span>
            </div>
            <div class="MenuLine"></div>
        </div>
    </div>
    <div id="MiddleContainer">
        <div id="FormsContainer">
            <h2>FORMULÁRIO DE CADASTRO DE OBRA</h2>
            <div id="FieldsContainer">
                <div id="AutorField" class="FillingField">
                    Autor: <input>
                </div>
                <div id="NomeDaObraField" class="FillingField">
                    Nome da Obra: <input>
                </div>
            </div>
        </div>
    </div>
</div>