
<div id="FormsContainer">
    <div id="HeaderForms">
        <h2 id="TitleForms">FORMULÁRIO DE CADASTRO DE ARQUITETO</h2>
        <div id="TitleFormsLine"></div>
    </div>
    <form [formGroup]="arquitetoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" 
                    placeholder="Digite o nome" 
                    formControlName="nome"
                    required />
        </div>
        <div class="form-group">
            <label for="Nome Meio">Nome Meio</label>
            <input type="text" 
                    placeholder="Digite o nome do meio" 
                    formControlName="nomeMeio"
                    required />
        </div>
        <div class="form-group">
            <label for="Sobrenome">Sobrenome</label>
            <input type="text" 
                    placeholder="Digite o sobrenome" 
                    formControlName="sobrenome"
                    required />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
