<div id="FormsContainer">
    <div id="HeaderForms">
        <h2 id="TitleForms">FORMULÁRIO DE CADASTRO DE USUÁRIO</h2>
        <div id="TitleFormsLine"></div>
    </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" placeholder="Digite o nome" formControlName="nome" required />
            <span *ngIf="this.usuarioForm.get('nome')?.touched && this.usuarioForm.get('nome')?.hasError('required')">
                Campo obrigatório
            </span>
        </div>
        <div class="form-group">
            <label for="Senha">Senha</label>
            <input type="text" placeholder="Digite a senha" formControlName="senha" required />
            <span *ngIf="this.usuarioForm.get('senha')?.touched && this.usuarioForm.get('senha')?.hasError('required')">
                Campo obrigatório
            </span>
        </div>
        <div class="form-group">
            <label for="NUSP">Número USP</label>
            <input type="text" placeholder="Digite o número usp" formControlName="nusp" required />
            <span *ngIf="this.usuarioForm.get('nusp')?.touched && this.usuarioForm.get('nusp')?.hasError('required')">
                Campo obrigatório
            </span>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" placeholder="Digite o email" formControlName="email" required />
            <span *ngIf="this.usuarioForm.get('email')?.touched && this.usuarioForm.get('email')?.hasError('required')">
                Campo obrigatório
            </span>
        </div>
        <button type="submit" [disabled]="!this.usuarioForm.valid">Enviar</button>
    </form>
</div>