<div id="FormsContainer">
    <div id="HeaderForms">
        <h2 id="TitleForms">FORMULÁRIO DE CADASTRO DE USUÁRIO</h2>
        <div id="TitleFormsLine"></div>
    </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div id="form-body">
            <div id="form-labels">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" placeholder="Digite o Login" formControlName="login" required />
                    <span
                        *ngIf="this.usuarioForm.get('login')?.touched && this.usuarioForm.get('login')?.hasError('required')">
                        Campo obrigatório
                    </span>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" placeholder="Digite a senha" formControlName="senha" required />
                    <span
                        *ngIf="this.usuarioForm.get('senha')?.touched && this.usuarioForm.get('senha')?.hasError('required')">
                        Campo obrigatório
                    </span>
                </div>
                <div class="form-group">
                    <label for="numeroUsp">Número USP</label>
                    <input type="text" placeholder="Digite o número usp" formControlName="numeroUsp" required />
                    <span
                        *ngIf="this.usuarioForm.get('numeroUsp')?.touched && this.usuarioForm.get('numeroUsp')?.hasError('required')">
                        Campo obrigatório
                    </span>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" placeholder="Digite o email" formControlName="email" required />
                    <span
                        *ngIf="this.usuarioForm.get('email')?.touched && this.usuarioForm.get('email')?.hasError('required')">
                        Campo obrigatório
                    </span>
                    <span
                        *ngIf="this.usuarioForm.get('email')?.touched && this.usuarioForm.get('email')?.hasError('email')">
                        Formato de email inválido
                    </span>
                </div>
                <div class="form-group">
                    <label for="autorizacao">Autorização</label>
                    <select formControlName="autorizacao">
                        <option value="admin">Administrador</option>
                        <option value="user">Usuário Comum</option>
                    </select>
                    <span
                        *ngIf="this.usuarioForm.get('autorizacao')?.touched && this.usuarioForm.get('autorizacao')?.hasError('required')">
                        Campo obrigatório
                    </span>
                </div>
            </div>
            <div id="form-final-buttons">
                <button type="submit" [disabled]="!this.usuarioForm.valid">Enviar</button>
                <button (click)="clear()" [disabled]="!this.usuarioForm.dirty">Limpar</button>
            </div>
        </div>
    </form>
</div>