<div id="pagina-pesquisador">
    <header>
        <div id="logo-projeto">
            <img src="/assets/images/logo-fau-horizontal-full.svg" id="logo-fau">
        </div>
        <div id="links-forms">
            <ul>
                <li (click)="showComponent('FormsObra')">FORMS OBRA</li>
                <li (click)="showComponent('FormsArquiteto')">FORMS ARQUITETO</li>
                <li (click)="showComponent('FormsConstrutora')">FORMS CONSTRUTORA</li>
                <li (click)="showComponent('FormsUsuario')">FORMS USUÁRIO</li>
            </ul>
        </div>
    </header>

    <div id="middle">
        <div id="form">
            <app-forms-obra *ngIf="selectedComponent === 'FormsObra'"></app-forms-obra>
            <app-forms-arquiteto *ngIf="selectedComponent === 'FormsArquiteto'"></app-forms-arquiteto>
            <app-forms-construtora *ngIf="selectedComponent === 'FormsConstrutora'"></app-forms-construtora>
            <app-form-usuario *ngIf="selectedComponent === 'FormsUsuario'"></app-form-usuario>
        </div>
    </div>

    <app-footer></app-footer>

</div>