<div id="form">
    <div id="FormsContainer">
        <div id="HeaderForms">
            <h2 id="TitleForms">ACESSAR O SISTEMA</h2>
            <div id="TitleFormsLine"></div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="Nome">Email</label>
                <input type="text" placeholder="Digite o seu usuário" formControlName="login" />
            </div>
            <div class="form-group">
                <label for="Senha">Senha</label>
                <input type="password" placeholder="Digite sua senha" formControlName="senha" />
            </div>
            <button type="submit" [disabled]="!loginForm.valid">Enviar</button>
        </form>
    </div>
</div>