<div id="FormsContainer">
    <div id="HeaderForms">
        <h2 id="TitleForms">FORMULÁRIO DE CADASTRO DE OBRA</h2>
        <div id="TitleFormsLine"></div>
    </div>
    <form [formGroup]="obraForm" (ngSubmit)="onSubmit()">
        <div id="form-body">
            <div id="form-labels">
                <div class="form-group">
                    <label for="Autoria">Autoria</label>
                    <select formControlName="autoria" required>
                        <option *ngFor="let autoria of autoriaOptions" [value]="autoria.id">{{autoria.nome}}
                            {{autoria.nomeMeio}} {{autoria.sobrenome}} </option>
                    </select>
                    <span
                        *ngIf="obraForm.get('autoria')?.hasError('required') && obraForm.get('autoria')?.touched">Campo
                        obrigatório</span>
                </div>
                <div class="form-group">
                    <label for="Escritorio">Escritório</label>
                    <input type="text" placeholder="Digite o escritório" formControlName="escritorio" />
                </div>
                <div class="form-group">
                    <label for="NomeOficial">Nome Oficial</label>
                    <input type="text" placeholder="Digite o nome oficial" formControlName="nomeOficial" required />
                    <span
                        *ngIf="obraForm.get('nomeOficial')?.hasError('required') && obraForm.get('nomeOficial')?.touched">Campo
                        obrigatório</span>
                </div>
                <div class="form-group">
                    <label for="NomeAlternativo">Nome Alternativo</label>
                    <input type="text" placeholder="Digite o nome alternativo" formControlName="nomeAlternativo" />
                </div>
                <div formGroupName="endereco">
                    <div class="form-group">
                        <label for="TipoEndereco">Endereço Tipo</label>
                        <select formControlName="tipoEndereco">
                            <option *ngFor="let option of enderecoTipoOptions" [value]="option">{{ option }}</option>
                        </select>
                        <span
                            *ngIf="obraForm.get('endereco')?.get('tipoEndereco')?.hasError('required') && obraForm.get('endereco')?.get('tipoEndereco')?.touched">Campo
                            obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label for="EnderecoTitulo">Endereço Títuto</label>
                        <select formControlName="enderecoTitulo">
                            <option [value]="null"> Não especificar </option>
                            <option *ngFor="let option of enderecoTituloOptions" [value]="option">{{ option }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Logradouro">Logradouro</label>
                        <input type="text" placeholder="Digite o logradouro" formControlName="logradouro" required />
                        <span
                            *ngIf="obraForm.get('endereco')?.get('tipoEndereco')?.hasError('required') && obraForm.get('endereco')?.get('logradouro')?.touched">Campo
                            obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label for="Número">Número</label>
                        <input type="text" placeholder="Digite o número" formControlName="numero" required />
                        <span *ngIf="obraForm.get('endereco')?.get('numero')?.hasError('required') && obraForm.get('endereco')?.get('numero')?.touched">Campo
                            obrigatório</span>
                    </div>
                    <div class="form-group">
                        <label for="Complemento">Complemento</label>
                        <input type="text" placeholder="Digite o complemento" formControlName="complemento" />
                    </div>
                    <div class="form-group">
                        <label for="CEP">CEP</label>
                        <input type="text" placeholder="Digite o CEP" formControlName="cep" required />
                        <span *ngIf="obraForm.get('endereco')?.get('cep')?.hasError('required') && obraForm.get('endereco')?.get('cep')?.touched">Campo
                            obrigatório</span>
                        <span *ngIf="obraForm.get('endereco')?.get('cep')?.hasError('pattern') && obraForm.get('endereco')?.get('cep')?.touched">Deve ter
                            formato 00000-000</span>
                    </div>
                    <div class="form-group">
                        <label for="Municipio">Município</label>
                        <input type="text" placeholder="Digite o município" formControlName="municipio" required />
                        <span
                            *ngIf="obraForm.get('endereco')?.get('municipio')?.hasError('required') && obraForm.get('endereco')?.get('municipio')?.touched">Campo
                            obrigatório</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AnoProjeto">Ano do Projeto</label>
                    <input type="text" placeholder="Digite o ano do projeto" formControlName="anoProjeto" />
                    <span
                        *ngIf="obraForm.get('anoProjeto')?.hasError('pattern') && obraForm.get('anoProjeto')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="AnoConstrução">Ano Construção</label>
                    <input type="text" placeholder="Digite o ano construção" formControlName="anoConstrucao" />
                    <span
                        *ngIf="obraForm.get('anoConstrucao')?.hasError('pattern') && obraForm.get('anoConstrucao')?.touched">Campo
                        nulo ou no formato
                        0000</span>
                </div>
                <div class="form-group">
                    <label for="Construtora">Construtora</label>
                    <select formControlName="construtora">
                        <option [value]="null"> Deixar vazio </option>
                        <option *ngFor="let construtora of construtoraOptions" [value]="construtora.id">{{
                            construtora.nome }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CONDEPHAAT">CONDEPHAAT</label>
                    <input type="text" placeholder="Digite o CONDEPHAAT" formControlName="condephaat" />
                    <span
                        *ngIf="obraForm.get('condephaat')?.hasError('pattern') && obraForm.get('condephaat')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="CONPRESP">CONPRESP</label>
                    <input type="text" placeholder="Digite o CONPRESP" formControlName="conpresp" />
                    <span
                        *ngIf="obraForm.get('conpresp')?.hasError('pattern') && obraForm.get('conpresp')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="IPHAN">IPHAN</label>
                    <input type="text" placeholder="Digite o IPHAN" formControlName="iphan" />
                    <span *ngIf="obraForm.get('iphan')?.hasError('pattern') && obraForm.get('iphan')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="UsoOriginal">Uso Original</label>
                    <input type="text" placeholder="Digite o uso original" formControlName="usoOriginal" required />
                    <span
                        *ngIf="obraForm.get('usoOriginal')?.hasError('required')  && obraForm.get('usoOriginal')?.touched">Campo
                        obrigatório</span>
                </div>
                <div class="form-group">
                    <label for="CodigoOriginal">Código Original</label>
                    <input type="text" placeholder="Digite o Código Original" formControlName="codigoOriginal"
                        required />
                    <span
                        *ngIf="obraForm.get('codigoOriginal')?.hasError('required') && obraForm.get('codigoOriginal')?.touched">Campo
                        obrigatório</span>
                </div>
                <div class="form-group">
                    <label for="UsoAtual">Uso Atual</label>
                    <input type="text" placeholder="Digite o uso atual" formControlName="usoAtual" />
                </div>
                <div class="form-group">
                    <label for="CodigoAtual">Código Atual</label>
                    <input type="text" placeholder="Digite o código atual" formControlName="codigoAtual" />
                </div>
                <div class="form-group">
                    <label for="DataUsoAtual">Data Uso Atual</label>
                    <input type="text" placeholder="Digite a data do uso atual" formControlName="dataUsoAtual" />
                    <span
                        *ngIf="obraForm.get('dataUsoAtual')?.hasError('pattern')  && obraForm.get('dataUsoAtual')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="Status">Status</label>
                    <select formControlName="status">
                        <option [value]="null"> Não especificar </option>
                        <option *ngFor="let option of obraStatusOptions" [value]="option">{{ option }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="AnoDemolicao">Ano Demolição</label>
                    <input type="text" placeholder="Digite o ano da demolição" formControlName="anoDemolicao" />
                    <span
                        *ngIf="obraForm.get('anoDemolicao')?.hasError('pattern') && obraForm.get('anoDemolicao')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="AnoRestauro">Ano Restauro</label>
                    <input type="text" placeholder="Digite o ano do restauro" formControlName="anoRestauro" />
                    <span
                        *ngIf="obraForm.get('anoRestauro')?.hasError('pattern') && obraForm.get('anoRestauro')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="AnoReforma">Ano Reforma</label>
                    <input type="text" placeholder="Digite o ano da reforma" formControlName="anoReforma" />
                    <span
                        *ngIf="obraForm.get('anoReforma')?.hasError('pattern') && obraForm.get('anoReforma')?.touched">Campo
                        nulo ou no formato 0000</span>
                </div>
                <div class="form-group">
                    <label for="ArquitetoReforma">Arquiteto Reforma</label>
                    <input type="text" placeholder="Digite o arquiteto da reforma" formControlName="arquitetoReforma" />
                </div>
                <div class="form-group">
                    <label for="Latitude">Latitude</label>
                    <input type="text" placeholder="Digite a latitude" formControlName="latitude" required />
                    <span
                        *ngIf="obraForm.get('latitude')?.hasError('required') && obraForm.get('latitude')?.touched">Campo
                        obrigatório</span>
                </div>
                <div class="form-group">
                    <label for="Longitude">Longitude</label>
                    <input type="text" placeholder="Digite a longitude" formControlName="longitude" required />
                    <span
                        *ngIf="obraForm.get('longitude')?.hasError('required') && obraForm.get('longitude')?.touched">Campo
                        obrigatório</span>
                </div>
                <div class="form-group">
                    <label for="Referencias">Referências</label>
                    <div *ngFor="let i of referenciasIndexArray;" class="referencia-item">
                        <input type="text" [formControl]="getReferenciaFormControlByIndex(i)">
                        <div id="obra-side-buttons">
                            <button *ngIf="referenciasIndexArray.length > 1" class="side-button" type="button"
                                (click)="deletReferenciaFormInFormArray(i)"> - </button>
                            <button class="side-button" *ngIf="i === referenciasIndexArray.length-1" type="button"
                                (click)="addReferenciaInFormArray()"> + </button>
                        </div>
                        <span *ngIf="getReferenciaFormControlByIndex(i)?.hasError('required')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div id="form-final-buttons">
                <button type="submit" [disabled]="!this.obraForm.valid">Enviar</button>
                <button (click)="clear()" [disabled]="!this.obraForm.dirty">Limpar</button>
            </div>
        </div>
    </form>
</div>