* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: none;
    color: #333;
    font-weight: 300;
}

input {
    border-width: 0.75px;
    padding: 10px 15px; 
}

select {
    border-radius: 10px;
    padding: 2.5px 15px;
}

#FormsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#FormsContainer #HeaderForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FormsContainer #TitleForms {
    text-align: center;
    margin-bottom: 0px;
}

#FormsContainer #TitleFormsLine {
    width: 200px;
    height: 1px;
    background-color: black;
}
#FormsContainer #form-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#FormsContainer form {
    width: 100%;
    text-align: center;
}

#FormsContainer .form-group {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
}

#FormsContainer .form-group span{
    color: red;
}

#FormsContainer input {
    height: 25px;
    border-radius: 10px;
}

#FormsContainer #form-final-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#FormsContainer button {
    background-color: white; /* Green */
    border: 2px solid #555555;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

#FormsContainer button:hover {
    background-color: #555555; /* Green */
    color: white;
}

#FormsContainer .side-button{
    padding: 5px 20px;
}

#list-container button {
    background-color: white; /* Green */
    border: 2px solid #555555;
    color: black;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

#list-container button:hover {
    background-color: #555555; /* Green */
    color: white;
}

#form-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 20px;
}

#form-list #form {
    width: 33%;
    
}